::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #0f88d9;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1f84ff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #0053b9;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*::selection {
  background-color: #3f85d8;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
.answers,
.body-wrap,
svg:not(:root) {
  overflow: hidden;
}
.svg-inline--fa {
  height: 1.1rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hr,
img,
main,
menu,
nav,
section,
svg {
  display: block;
}
button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
[type='checkbox'],
[type='radio'],
legend {
  padding: 0;
  box-sizing: border-box;
}
.mt-0,
dl,
ol,
p,
ul {
  margin-top: 0;
}
html,
legend {
  box-sizing: border-box;
}
blockquote,
cite,
dfn,
em,
i {
  font-style: italic;
}
img,
legend,
pre {
  max-width: 100%;
}
pre,
textarea {
  overflow: auto;
}
.m-0,
body {
  margin: 0;
}
.footer-brand,
.footer-links,
.footer-social-links,
.mb-24,
dd,
dl,
hr,
ol,
p,
table,
ul {
  margin-bottom: 24px;
}
.ml-24,
blockquote,
dd {
  margin-left: 24px;
}
h1 {
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  border: 0;
  height: 1px;
  background: #d2daf0;
  background: linear-gradient(
    to right,
    rgba(210, 218, 240, 0.1) 0,
    rgba(210, 218, 240, 0.6) 50%,
    rgba(210, 218, 240, 0.1) 100%
  );
  margin-top: 24px;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #4950f6;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
  height: auto;
  vertical-align: middle;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
  appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  color: inherit;
  display: table;
  white-space: normal;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
.questions,
.testimonials-shape-3,
[hidden],
template {
  display: none;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.pl-24,
ol,
ul {
  padding-left: 24px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
.mb-0,
li > ol,
li > ul {
  margin-bottom: 0;
}
b,
dt,
strong {
  font-weight: 700;
}
figure {
  margin: 24px 0;
}
figcaption {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid #d2daf0;
}
.text-left,
th {
  text-align: left;
}
td,
th {
  padding: 10px 16px;
}
.pl-0,
td:first-child,
th:first-child {
  padding-left: 0;
}
.pr-0,
td:last-child,
th:last-child {
  padding-right: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 18px;
  line-height: 27px;
}
.h1,
.h2,
h1,
h2 {
  letter-spacing: 0;
  margin-top: 48px;
  margin-bottom: 16px;
}
body {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #565678;
  font-size: 1rem;
}
body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}
.screen-reader-text:focus,
.site-footer a,
ins,
mark {
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #0d1f43;
  font-family: Fira Sans, serif;
  font-weight: 600;
}
.h1,
h1 {
  font-size: 35px;
  line-height: 50px;
}
.h2,
h2 {
  font-size: 32px;
  line-height: 42px;
}
.h3,
blockquote,
h3 {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.1px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.1px;
}
@media (max-width: 640px) {
  .h1-mobile {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0;
  }
  .h2-mobile {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0;
  }
  .h3-mobile {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
  .h4-mobile,
  .h5-mobile,
  .h6-mobile {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
  }
}
.input,
.text-sm,
.text-xs,
small {
  letter-spacing: -0.1px;
}
.button,
.screen-reader-text:focus {
  letter-spacing: 0;
  background-color: #fff;
}
.text-light,
.text-light a {
  color: rgba(255, 255, 255, 0.4);
}
.text-light .h1,
.text-light .h2,
.text-light .h3,
.text-light .h4,
.text-light .h5,
.text-light .h6,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
  color: #fff !important;
}
.text-sm {
  font-size: 0.8rem;
  line-height: 27px;
}
.text-xs,
pre {
  line-height: 24px;
  font-size: 16px;
}
.h3,
h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 4px;
}
blockquote,
pre {
  margin-top: 24px;
  margin-bottom: 24px;
}
blockquote {
  color: #ababc9;
}
blockquote::before {
  content: '\201C';
}
blockquote::after {
  content: '\201D';
}
blockquote p {
  display: inline;
}
address {
  color: #565678;
  border-width: 1px 0;
  border-style: solid;
  border-color: #d2daf0;
  padding: 24px 0;
  margin: 0 0 24px;
}
pre,
pre .h1,
pre .h2,
pre .h3,
pre .h4,
pre .h5,
pre .h6,
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6 {
  font-family: 'Courier 10 Pitch', Courier, monospace;
}
.is-boxed,
code,
kbd,
pre,
tt,
var {
  background: #eef1fa;
}
.p-24,
pre {
  padding: 24px;
}
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 16px;
  padding: 2px 4px;
}
button,
input,
label,
select,
small,
textarea {
  font-size: 18px;
  line-height: 27px;
}
abbr,
acronym {
  cursor: help;
}
.container,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 481px) {
  .container,
  .container-sm {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container {
  max-width: 1128px;
}
.container-sm {
  max-width: 848px;
}
.container .container-sm {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}
.container-md {
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
  margin-inline: auto;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}
.feature,
.feature-icon,
.feature-icon svg,
.feature-inner,
.features,
.has-bottom-divider,
.has-top-divider,
.site-header,
.testimonial,
.testimonial-main,
.testimonials {
  position: relative;
}
.button,
.input {
  font-size: 14px;
  height: 48px;
}
.screen-reader-text:focus {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  color: #4950f6 !important;
  border: none;
  height: auto;
  left: 8px;
  padding: 16px 32px;
  top: 8px;
  width: auto;
  z-index: 100000;
}
.has-bottom-divider::after,
.has-top-divider::before {
  position: absolute;
  display: block;
  height: 1px;
  content: '';
}
.list-reset {
  list-style: none;
  padding: 0;
}
.button,
.hero,
.text-center {
  text-align: center;
}
@media (width <= 500px) {
  .hero {
    text-align: left;
  }
}
.text-right {
  text-align: right;
}
.text-primary {
  color: #4950f6;
}
.text-secondary {
  color: #ff6381;
}
.has-top-divider::before {
  top: 0;
  left: 0;
  width: 100%;
  background: #d2daf0;
  background: linear-gradient(
    to right,
    rgba(210, 218, 240, 0.1) 0,
    rgba(210, 218, 240, 0.6) 50%,
    rgba(210, 218, 240, 0.1) 100%
  );
}
.has-bottom-divider::after {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #d2daf0;
  background: linear-gradient(
    to right,
    rgba(210, 218, 240, 0.1) 0,
    rgba(210, 218, 240, 0.6) 50%,
    rgba(210, 218, 240, 0.1) 100%
  );
}
.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.m-8 {
  margin: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.field-grouped > .control:not(:last-child),
.mb-8 {
  margin-bottom: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.m-16 {
  margin: 16px;
}
.mt-16 {
  margin-top: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.footer-links li + li,
.footer-social-links li + li,
.ml-16 {
  margin-left: 16px;
}
.m-24 {
  margin: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.m-32 {
  margin: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mr-32 {
  margin-right: 32px;
}
.mb-32,
.newsletter .section-paragraph {
  margin-bottom: 32px;
}
.ml-32 {
  margin-left: 32px;
}
.m-40 {
  margin: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.m-48 {
  margin: 48px;
}
.mt-48 {
  margin-top: 48px;
}
.mr-48 {
  margin-right: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}
.ml-48 {
  margin-left: 48px;
}
.m-56 {
  margin: 56px;
}
.mt-56 {
  margin-top: 56px;
}
.mr-56 {
  margin-right: 56px;
}
.mb-56 {
  margin-bottom: 56px;
}
.ml-56 {
  margin-left: 56px;
}
.m-64 {
  margin: 64px;
}
.mt-64 {
  margin-top: 64px;
}
.mr-64 {
  margin-right: 64px;
}
.mb-64 {
  margin-bottom: 64px;
}
.ml-64 {
  margin-left: 64px;
}
.p-0 {
  padding: 0;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.footer-social-links li a,
.p-8 {
  padding: 8px;
}
.pt-8 {
  padding-top: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pl-8 {
  padding-left: 8px;
}
.p-16 {
  padding: 16px;
}
.pt-16 {
  padding-top: 16px;
}
.pr-16 {
  padding-right: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pl-16 {
  padding-left: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.pr-24 {
  padding-right: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.p-32 {
  padding: 32px;
}
.pt-32 {
  padding-top: 32px;
}
.pr-32 {
  padding-right: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pl-32 {
  padding-left: 32px;
}
.p-40 {
  padding: 40px;
}
.hero,
.pt-40 {
  padding-top: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.p-48 {
  padding: 48px;
}
.pt-48 {
  padding-top: 48px;
}
.pr-48 {
  padding-right: 48px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pl-48 {
  padding-left: 48px;
}
.p-56 {
  padding: 56px;
}
.pt-56 {
  padding-top: 56px;
}
.pr-56 {
  padding-right: 56px;
}
.pb-56 {
  padding-bottom: 56px;
}
.pl-56 {
  padding-left: 56px;
}
.p-64 {
  padding: 64px;
}
.pt-64 {
  padding-top: 64px;
}
.pr-64 {
  padding-right: 64px;
}
.pb-64 {
  padding-bottom: 64px;
}
.pl-64 {
  padding-left: 64px;
}
.has-animations .anime-element,
.sr .has-animations .is-revealing {
  visibility: hidden;
}
.anime-ready .has-animations .anime-element {
  visibility: visible;
}
.input,
.textarea {
  background-color: #fff;
  border: 1px solid #d2daf0;
  border-radius: 2px;
  color: #565678;
  max-width: 100%;
  width: 100%;
}
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #ababc9;
}
.input::placeholder,
.textarea::placeholder {
  color: #ababc9;
}
.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #ababc9;
}
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  color: #ababc9;
}
.input:hover,
.textarea:hover {
  border-color: #bfcaea;
}
.input:active,
.input:focus,
.textarea:active,
.textarea:focus {
  outline: 0;
  border-color: #0d1f43;
}
.input[disabled],
.textarea[disabled] {
  cursor: not-allowed;
  background-color: #eef1fa;
  border-color: #eef1fa;
}
.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: 20px;
  padding: 13px 16px;
  box-shadow: none;
}
.button,
.header-links a:not(.button) {
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 700;
}
.input .inline-input,
.textarea .inline-textarea {
  display: inline;
  width: auto;
}
.textarea {
  display: block;
  min-width: 100%;
  resize: vertical;
}
.button {
  display: inline-flex;
  text-decoration: none !important;
  color: #4950f6 !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  white-space: nowrap;
}
.button:active {
  outline: 0;
}
.button::before {
  border-radius: 2px;
}
.button-sm {
  padding: 8px 24px;
  height: 32px;
}
.button-primary {
  color: #fff !important;
  transition: background 0.15s;
  background: #192f5c;
}
.site-footer,
.site-footer a {
  color: #ababc9;
}
.button-primary:hover {
  background: #214181;
}
.button-block {
  display: flex;
}
.site-header {
  padding: 24px 0;
}
.header-shape,
.testimonials-shape {
  position: absolute;
}
.header-shape-1 {
  display: none;
  top: 0;
}
.header-shape-2 {
  top: -40px;
  right: -53px;
}
.site-header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-links li,
.header-links,
.header-links li {
  display: inline-flex;
}
.header-links a:not(.button) {
  font-size: 16px;
  letter-spacing: -0.1px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  padding: 8px 24px;
}
.header-links a:not(.button):active,
.header-links a:not(.button):hover {
  color: #fff;
}
.hero-paragraph {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-bottom: 40px;
  font-weight: 400;
}
.hero-form {
  max-width: max(90%, 440px);
  margin: 0 auto;
}
.hero-illustration {
  position: relative;
  margin-top: 48px;
}
.hero-shape {
  display: none;
  position: absolute;
}
.hero-main-shape svg {
  width: 140%;
  height: auto;
}
@media (min-width: 641px) {
  html {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.1px;
  }
  .h1,
  .h2,
  h1,
  h2 {
    letter-spacing: 0;
  }
  .h1,
  h1 {
    font-size: 38px;
    line-height: 56px;
  }
  .h2,
  h2 {
    font-size: 36px;
    line-height: 50px;
  }
  .h3,
  blockquote,
  h3 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0;
  }
  .h4,
  .h5,
  .h6,
  .hero-paragraph,
  h4,
  h5,
  h6 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
  .field-grouped,
  .hero-inner {
    display: flex;
  }
  .field-grouped > .control {
    flex-shrink: 0;
  }
  .field-grouped > .control.control-expanded {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .field-grouped > .control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 8px;
  }
  .header-shape-1 {
    display: block;
    left: 687px;
  }
  .header-shape-2 {
    top: -92px;
    left: 440px;
    right: auto;
  }
  .header-shape-2 svg {
    width: 220px;
    height: 220px;
  }
  .hero {
    text-align: left;
    padding-top: 70px;
  }
  .hero-copy {
    padding-right: 48px;
    min-width: 512px;
  }
  .hero-form {
    margin: 0;
  }
  .hero-illustration {
    margin-top: -143px;
    padding-bottom: 0;
  }
  .hero-shape {
    display: block;
  }
  .hero-shape-1 {
    left: -32px;
    top: 542px;
  }
  .hero-shape-2 {
    left: -733px;
    top: 538px;
  }
  .hero-main-shape svg {
    width: auto;
    height: 647px;
  }
}
.features-wrap,
.testimonials-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -16px;
  margin-left: -16px;
}
.features-wrap:first-child,
.testimonials-wrap:first-child {
  margin-top: -16px;
}
.features-wrap:last-child,
.testimonials-wrap:last-child {
  margin-bottom: -16px;
}
.feature {
  padding: 16px;
  width: 388px;
  max-width: 388px;
  flex-grow: 1;
}
.feature-inner {
  height: 100%;
  background: #fff;
  padding: 48px 24px 72px;
  border-radius: 5px;
}
.feature-inner::before,
.testimonial-inner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);
  mix-blend-mode: multiply;
  border-radius: 5px;
}
.feature-icon {
  margin: 0 auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.feature-icon::before {
  content: '';
  display: block;
  background: #fff;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  box-shadow: 12px 24px 32px rgba(17, 16, 62, 0.12);
}
.newsletter::before,
.site-footer::before {
  background-repeat: no-repeat;
  position: absolute;
}
.testimonials .section-inner {
  padding-top: 0;
  padding-bottom: 108px;
}
.testimonials .section-title {
  margin-bottom: 72px;
}
.testimonials-shape-1 {
  bottom: 52px;
  left: calc(50% - 80px);
}
.testimonials-shape-2 {
  top: 84px;
  left: calc(50% + 30px);
}
.testimonial {
  padding: 44px 16px 16px;
  width: 388px;
  max-width: 388px;
  flex-grow: 1;
}
.testimonial-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 52px 24px 24px;
}
.section-inner,
.site-footer-inner {
  padding-top: 48px;
  padding-bottom: 48px;
}
.section-paragraph {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}
.testimonial-inner > * {
  width: 100%;
}
.testimonial-header {
  position: absolute;
  top: -80px;
}
.answers,
.newsletter,
.question,
.section-inner,
.site-footer {
  position: relative;
}
.testimonial-header img {
  width: 56px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(17, 16, 62, 0.12);
}
.testimonial-footer {
  align-self: flex-end;
  font-weight: 500;
  margin-bottom: 12px;
}
@media (min-width: 1025px) {
  .header-shape-1 {
    left: auto;
    right: 0;
  }
  .header-shape-2 {
    left: auto;
    right: 38%;
  }
  .hero-copy {
    padding-right: 92px;
    min-width: 620px;
  }
  .features .section-inner {
    padding-bottom: 168px;
  }
  .feature:nth-child(2n) {
    top: 80px;
  }
  .testimonial:nth-child(odd) {
    top: 40px;
  }
}
.newsletter {
  background-color: #052d48;
  padding-top: 3rem;

  /* mask created with https://css-generators.com/wavy-shapes/ */
  --mask: radial-gradient(122.98px at 50% 165px, #000 99%, #0000 101%)
      calc(50% - 110px) 0/220px 100%,
    radial-gradient(122.98px at 50% -110px, #0000 99%, #000 101%) 50% 55px/220px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.newsletter::before {
  content: '';
  top: 0;
  right: 0;
  width: 279px;
  height: 274px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk0IiBoZWlnaHQ9IjI3NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxkZWZzPiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjEwNC42NTclIiB5MT0iLTQ1LjI3NCUiIHgyPSIyMS45NDQlIiB5Mj0iNC4wNzklIiBpZD0iYSI+ICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzU2NTY3OCIgb2Zmc2V0PSIwJSIvPiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiM1NjU2NzgiIHN0b3Atb3BhY2l0eT0iMCIgb2Zmc2V0PSIxMDAlIi8+ICAgIDwvbGluZWFyR3JhZGllbnQ+ICA8L2RlZnM+ICA8cGF0aCBkPSJNMTA4My4xMzYgMTI2SDE0NDB2MTc3Ljc4MkMxNDA0LjkxMyAzNjEuNDcgMTM0MS40NTYgNDAwIDEyNjkgNDAwYy0xMTAuNDU3IDAtMjAwLTg5LjU0My0yMDAtMjAwIDAtMjYuMTQxIDUuMDE1LTUxLjExMSAxNC4xMzYtNzR6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTE0NiAtMTI2KSIgZmlsbD0idXJsKCNhKSIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsLW9wYWNpdHk9Ii40OCIvPjwvc3ZnPg==);
}
.newsletter-form {
  max-width: 600px;
  margin: 0 auto;
}
.newsletter-header h2 {
  font-size: clamp(28px, 3vw, 40px);
}
.body-wrap {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);
}
main {
  flex: 1 0 auto;
}
.site-footer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  background-color: #052d48;
  border-top: thin solid #d2daf0;
}
.site-footer.masked {
  padding-top: 3rem;
  /* mask created with https://css-generators.com/wavy-shapes/ */
  --mask: radial-gradient(122.98px at 50% 165px, #000 99%, #0000 101%)
      calc(50% - 110px) 0/220px 100%,
    radial-gradient(122.98px at 50% -110px, #0000 99%, #000 101%) 50% 55px/220px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.site-footer::before {
  content: '';
  bottom: 0;
  left: 30%;
  width: 298px;
  height: 93px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk4IiBoZWlnaHQ9IjkzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgPGRlZnM+ICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMjguOTQlIiB5MT0iLTMwLjY4MyUiIHgyPSI2Ny40NzMlIiB5Mj0iMTM1LjAyMiUiIGlkPSJhIj4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjNTY1Njc4IiBvZmZzZXQ9IjAlIi8+ICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzU2NTY3OCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjEwMCUiLz4gICAgPC9saW5lYXJHcmFkaWVudD4gIDwvZGVmcz4gIDxwYXRoIGQ9Ik00MDMuMjQ0IDY5MGMyNC4yMDktNTQuNzc2IDc5LjAxOS05MyAxNDIuNzU2LTkzIDUzLjI1NSAwIDEyMy40NTggNTAuNjc0IDE5Ny4yMTUgOTNoLTMzOS45N3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00MDMgLTU5NykiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZmlsbC1vcGFjaXR5PSIuMjQiLz48L3N2Zz4=);
}
.site-footer a:active,
.site-footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.site-footer-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.site-footer-inner.has-top-divider::before {
  background: #565678;
  background: linear-gradient(
    to right,
    rgba(86, 86, 120, 0.1) 0,
    rgba(86, 86, 120, 0.6) 50%,
    rgba(86, 86, 120, 0.1) 100%
  );
}
.footer-brand,
.footer-copyright,
.footer-links,
.footer-social-links {
  flex: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
@media (min-width: 641px) {
  .features-wrap,
  .testimonials-wrap {
    margin-right: -24px;
    margin-left: -24px;
  }
  .features .section-paragraph,
  .newsletter .section-paragraph {
    padding-left: 72px;
    padding-right: 72px;
  }
  .features-wrap {
    padding-top: 24px;
  }
  .features-wrap:first-child,
  .testimonials-wrap:first-child {
    margin-top: -24px;
  }
  .features-wrap:last-child,
  .testimonials-wrap:last-child {
    margin-bottom: -24px;
  }
  .feature {
    padding: 24px;
  }
  .testimonials .section-inner {
    padding-bottom: 166px;
  }
  .testimonials .section-title {
    margin-bottom: 126px;
  }
  .testimonial {
    padding: 52px 24px 24px;
  }
  .testimonials-shape-1 {
    bottom: auto;
    top: 170px;
    left: calc(50% - 305px);
  }
  .testimonials-shape-1 svg {
    width: 400px;
    height: 400px;
  }
  .testimonials-shape-2 {
    top: 480px;
    left: calc(50% + 190px);
  }
  .testimonials-shape-3 {
    display: block;
    top: 570px;
    left: calc(50% - 320px);
  }
  .newsletter .section-paragraph {
    margin-bottom: 40px;
  }
  .section-inner {
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .site-footer-inner {
    justify-content: space-between;
  }
  .footer-brand,
  .footer-copyright,
  .footer-links,
  .footer-social-links {
    flex: 50%;
  }
  .footer-brand,
  .footer-copyright {
    justify-content: flex-start;
  }
  .footer-links,
  .footer-social-links {
    justify-content: flex-end;
  }
  .footer-links {
    order: 1;
    margin-bottom: 0;
  }
}
.footer-copyright img {
  width: 100px;
  height: auto;
  max-width: 100%;
  margin-left: 0.5rem;
  margin-top: -0.6rem;
}
.name-container {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}
.name-container input:first-child {
  margin-right: 0.5rem;
}
.thank-you-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
img.logo {
  width: 145px;
  height: auto;
}
img.thank-you {
  width: auto;
  max-width: 100%;
  height: auto;
}
.thank-you-container p {
  font-size: 1rem;
  margin-block: 2.5rem 1.5rem;
  color: #0d1f43;
  padding: 0 1rem;
  line-height: 2;
}
.thank-you-container button.btn {
  background: #3f85d8;
  border: 1px solid #3f85d8;
  border-radius: 3px;
  padding: 0.6rem 1.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.thank-you-container button.btn:hover {
  transform: translate(0, -2px);
}
.thank-you-container button.btn:active {
  transform: translate(0, 2px);
}
.thank-you-container img,
.thank-you-container p,
.thank-you-container button {
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}
.thank-you-container p {
  animation-delay: 0.5s;
}
.thank-you-container button {
  animation-delay: 0.85s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (max-width: 480px) {
  .thank-you-container p {
    font-size: 1rem;
  }
  .thank-you-container button.btn {
    font-size: 0.8rem;
    padding: 0.75rem 1.25rem;
  }
}
.faq-section {
  background: linear-gradient(#f7f9ff, rgba(238, 241, 250, 0));
}
.faq {
  margin-top: 2rem;
}
.question {
  margin: 0 auto;
  opacity: 1;
  padding: 10px 10px 10px 40px;
  display: block;
  cursor: pointer;
  font-size: clamp(0.875rem, 1.5vw, 1rem);
}
.answers {
  background: rgba(86, 86, 120, 0.1);
  padding: 0 40px;
  margin: 0 0 7px;
  height: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.questions:checked ~ .answers {
  height: auto;
  opacity: 0.9;
  padding: 15px 15px 15px 45px;
  z-index: 1;
  color: #565678;
  font-size: 0.85rem;
}
.plus {
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
  z-index: 5;
  font-size: 1rem;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
img {
  color: #0d1f43;
  font-size: 0.75rem;
}
.floating-whatsapp-icon {
  position: fixed;
  width: 40px;
  height: auto;
  bottom: 20px;
  right: 10px;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}
.floating-whatsapp-icon:hover {
  transform: scale(1.05);
}
.floating-whatsapp-icon img:hover {
  opacity: 1;
}
.floating-whatsapp-icon:active {
  transform: scale(0.8);
}
.floating-whatsapp-icon img {
  opacity: 0.8;
  animation: bounce 3.5s ease infinite;
}
.floating-whatsapp-icon:hover img {
  animation-play-state: paused;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-10px);
  }
}
